*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{

    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('owl.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    font-size: 20px;
    overflow: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}

.text-block{
    
position: relative;
top: 200px;
left:200px;
background: rgb(0, 0, 0); /* Fallback color */
background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
color: #f1f1f1;
padding-left: 20px;
padding-right: 20px;


}



.omain-content{


position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

h1{

   color:white;
   font-size: 50px;
   word-spacing: 5px;
   letter-spacing: 3px;
   margin-bottom: 20px;
   text-transform: uppercase;
font-weight: lighter;
}

.btn{
    position: relative;
    left: 40px;
    top: 2px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
    }
    .btn-full{
        background-color: transparent;
        color: black;
        margin-right: 14px;
        border:1px solid white;
    
    
    
    }
    .btn-full:hover{
    
    background-color: white;
    
    }


/*resposiveness*/

@media only screen and (max-width: 1670px){
    
    .text-block{

      display: none;
    }
}











